
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #4D4D62;
    color: #FFFFFF;
}

#music-player {
    width: 450px;
    margin: 0 auto;
    background-color: #1B1B32;
    padding: 10px;
}


header {
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
}

header, #controls, #playlist {
    background-color: #3B3B4F;
}

header .parallel-lines {
    margin-top: 4px;
}

header p {
    margin: 0;
}

.parallel-lines div {
    width: 120px;
    height: 3px;
    background-color: #F1BE32;
}

.parallel-lines div:first-of-type{
    margin-bottom: 6px;
}

#controls {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
}

figure img {
    object-fit: cover;
    width: 162px;
    height: 162px;
    border: 6px solid #1B1B32;
    margin-left: -40px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 238px;
    height: 150px;
    background-color: #1B1B32;
    margin-left: -30px;
    padding: 0 10px;
}

[class="display-text"] {
    margin-left: 10px;
    h2 {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 20px;
    }

    p {
        color: #F1BE32;
        margin: 0;
        font-size: small;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons > button {
    cursor: pointer;
    background: none;
    border: none;
}


#playlist {
    font-weight: 300;
    font-size: 14px;
    padding:0 10px;
    margin: 0;    /*padding: 10px;*/
}

#playlist > li:not(:last-of-type) {
    border-bottom: 1px solid #1B1B32;
}

#playlist > li {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
}

.song-title-artist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song-title-artist p {
    max-width: 240px;
}
.song-title-artist div {
    display: flex;
    gap: 10px;
}

#playlist button {
    border: none;
    background: #4D4D62;
    border-radius: 100%;
    padding: 0;
}

#playlist button:hover {
    background-color: red;
}

#playlist button img {
    vertical-align: bottom;
}



